* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    border: 5px solid black;
    font-family: 'Shadows Into Light', cursive;
    background-color: gold;
    /* ------ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* ------ */
    width: 35%;
    height: 500px;
}

#welcomeText {
    font-size: 50px;
}

#selectText {
    font-size: 30px;
}

button {
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
    width: 20%;
}
